--
-- PostgreSQL database dump
--

-- Dumped from database version 12.22 (Debian 12.22-1.pgdg120+1)
-- Dumped by pg_dump version 12.22 (Debian 12.22-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: blog_status; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public.blog_status AS ENUM (
    'DRAFT',
    'PUBLISHED',
    'ARCHIVED'
);


ALTER TYPE public.blog_status OWNER TO root;

--
-- Name: blog_tags; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public.blog_tags AS ENUM (
    'FUN',
    'FACT',
    'SHARE',
    'RECRUITMENT',
    'NOTIFICATION'
);


ALTER TYPE public.blog_tags OWNER TO root;

--
-- Name: bookings-status; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public."bookings-status" AS ENUM (
    'PAID',
    'UNPAID',
    'CANCELED'
);


ALTER TYPE public."bookings-status" OWNER TO root;

--
-- Name: destination_status; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public.destination_status AS ENUM (
    'DELETED',
    'HIDEN',
    'DEFAULT'
);


ALTER TYPE public.destination_status OWNER TO root;

--
-- Name: gender-type; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public."gender-type" AS ENUM (
    'MALE',
    'OTHER'
);


ALTER TYPE public."gender-type" OWNER TO root;

--
-- Name: passenger-age-type; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public."passenger-age-type" AS ENUM (
    'ADULT',
    'CHILDREN',
    'BABY'
);


ALTER TYPE public."passenger-age-type" OWNER TO root;

--
-- Name: role-type; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public."role-type" AS ENUM (
    'ADMIN',
    'MOD',
    'TM',
    'DM',
    'SM',
    'DEFAULT'
);


ALTER TYPE public."role-type" OWNER TO root;

--
-- Name: tour-tags; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public."tour-tags" AS ENUM (
    'SAVEMONEY'
);


ALTER TYPE public."tour-tags" OWNER TO root;

--
-- Name: tour_status; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public.tour_status AS ENUM (
    'DELETED',
    'HIDEN',
    'DEFAULT'
);


ALTER TYPE public.tour_status OWNER TO root;

--
-- Name: user-status; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public."user-status" AS ENUM (
    'ACTIVE',
    'BANNED'
);


ALTER TYPE public."user-status" OWNER TO root;

--
-- Name: vehicles; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public.vehicles AS ENUM (
    'PLANE',
    'CAR'
);


ALTER TYPE public.vehicles OWNER TO root;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: blogs; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.blogs (
    id uuid NOT NULL,
    user_id uuid,
    "imageURL" character varying,
    tag public.blog_tags NOT NULL,
    title character varying,
    content character varying,
    status public.blog_status NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.blogs OWNER TO root;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.bookings (
    id uuid NOT NULL,
    fullname character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying NOT NULL,
    status public."bookings-status" NOT NULL,
    user_id uuid,
    tour_id uuid,
    province character varying NOT NULL,
    ward character varying NOT NULL,
    specific_address character varying NOT NULL,
    pickup_lat double precision,
    pickup_lng double precision,
    diparture_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    total_amount integer
);


ALTER TABLE public.bookings OWNER TO root;

--
-- Name: destinations; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.destinations (
    id uuid NOT NULL,
    title character varying NOT NULL,
    lat double precision,
    lng double precision,
    description character varying,
    "thumbnailURL" character varying,
    views integer,
    created_at timestamp without time zone DEFAULT now(),
    status public.destination_status DEFAULT 'DEFAULT'::public.destination_status
);


ALTER TABLE public.destinations OWNER TO root;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.orders (
    id uuid NOT NULL,
    user_id uuid,
    status character varying,
    amount integer,
    created_at timestamp without time zone DEFAULT now(),
    pack character varying
);


ALTER TABLE public.orders OWNER TO root;

--
-- Name: passengers; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.passengers (
    id uuid NOT NULL,
    fullname character varying NOT NULL,
    age_type public."passenger-age-type" NOT NULL,
    bookings_id uuid,
    birth_day timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.passengers OWNER TO root;

--
-- Name: tours; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.tours (
    id uuid NOT NULL,
    destination_id uuid,
    title character varying NOT NULL,
    vehicle public.vehicles NOT NULL,
    tag public."tour-tags" NOT NULL,
    price integer NOT NULL,
    slots integer,
    first_location character varying,
    start_location character varying,
    estimated_time character varying,
    description character varying,
    "thumbnailURL" character varying,
    "imageURLs" character varying,
    views integer,
    created_at timestamp without time zone DEFAULT now(),
    status public.tour_status DEFAULT 'DEFAULT'::public.tour_status
);


ALTER TABLE public.tours OWNER TO root;

--
-- Name: user_infos; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.user_infos (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    fullname character varying(100) NOT NULL,
    phone character varying(15) NOT NULL,
    provice character varying(50),
    ward character varying(50),
    address character varying(255),
    birthday timestamp without time zone,
    gender public."gender-type",
    nationality character varying(50),
    id_card_number character varying(20),
    status public."user-status" NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    update_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_infos OWNER TO root;

--
-- Name: users; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying NOT NULL,
    username character varying,
    password character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    role public."role-type" DEFAULT 'DEFAULT'::public."role-type" NOT NULL
);


ALTER TABLE public.users OWNER TO root;

--
-- Name: blogs blogs_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.blogs
    ADD CONSTRAINT blogs_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: destinations destinations_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.destinations
    ADD CONSTRAINT destinations_pkey PRIMARY KEY (id);


--
-- Name: destinations destinations_title_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.destinations
    ADD CONSTRAINT destinations_title_key UNIQUE (title);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: passengers passengers_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.passengers
    ADD CONSTRAINT passengers_pkey PRIMARY KEY (id);


--
-- Name: tours tours_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.tours
    ADD CONSTRAINT tours_pkey PRIMARY KEY (id);


--
-- Name: tours tours_title_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.tours
    ADD CONSTRAINT tours_title_key UNIQUE (title);


--
-- Name: user_infos user_infos_id_card_number_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_infos
    ADD CONSTRAINT user_infos_id_card_number_key UNIQUE (id_card_number);


--
-- Name: user_infos user_infos_phone_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_infos
    ADD CONSTRAINT user_infos_phone_key UNIQUE (phone);


--
-- Name: user_infos user_infos_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_infos
    ADD CONSTRAINT user_infos_pkey PRIMARY KEY (id);


--
-- Name: user_infos user_infos_user_id_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_infos
    ADD CONSTRAINT user_infos_user_id_key UNIQUE (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: blogs blogs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.blogs
    ADD CONSTRAINT blogs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: bookings bookings_tour_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_tour_id_fkey FOREIGN KEY (tour_id) REFERENCES public.tours(id);


--
-- Name: bookings bookings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: passengers passengers_bookings_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.passengers
    ADD CONSTRAINT passengers_bookings_id_fkey FOREIGN KEY (bookings_id) REFERENCES public.bookings(id);


--
-- Name: tours tours_destination_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.tours
    ADD CONSTRAINT tours_destination_id_fkey FOREIGN KEY (destination_id) REFERENCES public.destinations(id);


--
-- Name: user_infos user_infos_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_infos
    ADD CONSTRAINT user_infos_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

